<?xml version="1.0"?>
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">

  <!-- Serial-equivalent EP arm for Fortress.
       The real mechanism is closed parallelograms that SDFormat 12 / DART cannot
       constrain. This tree keeps the CAD meshes that move with the two driven
       links and places the endpoint with a planar 2R chain matching the EP
       Cartesian workspace (SDK robotic_arm moveto x y, in cm). Decorative
       linkage bars that only make sense as loop members are omitted so they
       do not float or disconnect when the arm moves.

       Joint limits approximate the old servo ranges projected onto this chain.
       Inertias from scripts/mesh_inertia.py / inertia_manifest.txt. -->

  <xacro:macro name="arm" params="tf_prefix=''">

    <link name="${tf_prefix}arm_base_link">
      <inertial>
        <origin xyz="-0.001910214 -0.001483998 0.02477027" rpy="0 0 0" />
        <mass value="0.3" />
        <inertia ixx="0.000694227" ixy="2.66773e-07" ixz="-8.3416e-07" iyy="0.000216367"
          iyz="2.73943e-06" izz="0.000757545" />
      </inertial>
      <visual name="arm_base">
        <origin xyz="-0.0008983 -0.0029745 -2.44e-05" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_base.dae" scale="1.0 1.0 1.0" />
        </geometry>
        <material name="metal" />
      </visual>
      <visual name="left_servo">
        <origin xyz="-0.013507 0 -0.0060673" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/left_servo.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
        <material name="metal" />
      </visual>
      <visual name="right_servo">
        <origin xyz="-0.013507 0 -0.0060673" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/right_servo.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
        <material name="metal" />
      </visual>
      <collision name="arm_base_collision">
        <origin xyz="-0.002098 -0.0004909 0.0073523" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_base_collision.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}arm_1_link">
      <inertial>
        <origin xyz="0.01205666 0.02230166 0.05887051" rpy="0 0 0" />
        <mass value="0.056" />
        <inertia ixx="8.49512e-05" ixy="-3.95594e-07" ixz="-2.11241e-06" iyy="6.62308e-05"
          iyz="-1.5812e-06" izz="2.53281e-05" />
      </inertial>
      <visual name="arm_1">
        <origin xyz="0.0073108 0.0184816 0.0437162" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_1.dae" scale="1.0 1.0 1.0" />
        </geometry>
        <material name="metal" />
      </visual>
      <visual name="arm_1_cylinder">
        <origin xyz="-0.0239031 0.0255713 -0.0368083" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_1_cylinder.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
        <material name="metal" />
      </visual>
      <collision name="arm_1_collision">
        <origin xyz="0.0065116 0.0213649 0.0639448" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_1_collision.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}arm_2_link">
      <inertial>
        <origin xyz="0.03671166 -0.02033782 0.00391168" rpy="0 0 0" />
        <mass value="0.08" />
        <inertia ixx="6.08608e-05" ixy="-6.10762e-08" ixz="6.09701e-05" iyy="0.000165693"
          iyz="3.71217e-08" izz="0.000151413" />
      </inertial>
      <visual name="arm_2">
        <origin xyz="0.0256122 -0.020134 -0.001308" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_2.dae" scale="1.0 1.0 1.0" />
        </geometry>
        <material name="Test">
          <color rgba="0.0 0.0 0.0 1.0" />
        </material>
      </visual>
      <visual name="arm_2_bar_1">
        <origin xyz="7.62e-05 0.0010863 -0.0002509" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_2_bar_1.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
        <material name="metal" />
      </visual>
      <visual name="arm_2_bar_2">
        <origin xyz="-0.0423232 -0.0099192 0.0221971" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_2_bar_2.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
        <material name="metal" />
      </visual>
      <collision name="arm_2_collision">
        <origin xyz="0.0222614 -0.0202749 -0.008504" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/arm_2_collision.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}endpoint_bracket_link">
      <inertial>
        <origin xyz="0.0117106 -0.03068662 -0.002782978" rpy="0 0 0" />
        <mass value="0.028" />
        <inertia ixx="1.31087e-05" ixy="3.88132e-07" ixz="-4.6124e-07" iyy="6.63736e-06"
          iyz="2.12334e-06" izz="1.36971e-05" />
      </inertial>
      <visual name="endpoint_bracket">
        <origin xyz="0.0071657 -0.0245846 0.0008407" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/endpoint_bracket.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
        <material name="metal" />
      </visual>
      <collision name="endpoint_bracket_collision">
        <origin xyz="0.0116468 -0.0288044 0.0041342" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://robomaster_description/meshes/endpoint_bracket_collision.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}end_point_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.001" />
        <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
      </inertial>
    </link>

    <joint name="${tf_prefix}arm_base_joint" type="fixed">
      <origin xyz="0 0.0010384 0.0906477" rpy="0 0 0" />
      <parent link="${tf_prefix}chassis_base_link" />
      <child link="${tf_prefix}arm_base_link" />
    </joint>

    <!-- Shoulder: rotates about +Y in the robot's sagittal plane. -->
    <joint name="${tf_prefix}arm_1_joint" type="revolute">
      <origin xyz="0.0103961 -0.0255713 0.030741" rpy="0 0 0" />
      <parent link="${tf_prefix}arm_base_link" />
      <child link="${tf_prefix}arm_1_link" />
      <axis xyz="0 1 0" />
      <!-- Keep in sync with robomaster_arm arm_kinematics.ARM1_MIN/MAX. -->
      <limit lower="-0.70" upper="1.384" effort="5.0" velocity="2.0" />
      <dynamics damping="0.1" friction="0.05" />
    </joint>

    <!-- Elbow. Length along this link to the EE is ~L2 for IK. -->
    <joint name="${tf_prefix}arm_2_joint" type="revolute">
      <origin xyz="0.0018704 0.0438659 0.1210238" rpy="0 0 0" />
      <parent link="${tf_prefix}arm_1_link" />
      <child link="${tf_prefix}arm_2_link" />
      <axis xyz="0 1 0" />
      <limit lower="-1.8" upper="0.35" effort="5.0" velocity="2.0" />
      <dynamics damping="0.1" friction="0.05" />
    </joint>

    <joint name="${tf_prefix}endpoint_bracket_joint" type="fixed">
      <origin xyz="0.1058557 0.006752 -0.0561093" rpy="0 0 0" />
      <parent link="${tf_prefix}arm_2_link" />
      <child link="${tf_prefix}endpoint_bracket_link" />
    </joint>

    <joint name="${tf_prefix}end_point_joint" type="fixed">
      <origin xyz="0.0110125 -0.0270264 -0.0103816" rpy="0 0 0" />
      <parent link="${tf_prefix}endpoint_bracket_link" />
      <child link="${tf_prefix}end_point_link" />
    </joint>

  </xacro:macro>

</robot>
